* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: hsl(0, 0%, 94%);
}

.widgetContainer {
  background-color: hsl(0, 0%, 100%);
  width: calc(275px + (500 - 275) * ((100vw - 375px) / (1440 - 375)));
  position: absolute;
  border-radius: 5% 5% 30% 5%;
  padding: 20px 35px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.subheading {
  text-transform: uppercase;
}

.inputsContainer {
  font-size: 12px;
  width: 100%;
  display: flex;
  gap: calc(1.5em + (3.5 - 1.5) * ((100vw - 375px) / (1440 - 375)));
  width: 100%;
  color: hsl(0, 1%, 44%);
  margin-bottom: 20px;
  border-bottom: 2px solid hsl(0, 0%, 94%);
  position: relative;
}

.inputContainer {
  margin-bottom: 3.5em;
  display: flex;
  flex-direction: column;
}

input {
  width: calc(70px + (125 - 70) * ((100vw - 375px) / (1440 - 375)));;
  height: 60px;
  font-size: calc(18px + (28 - 18) * ((100vw - 375px) / (1440 - 375)));
  border: 2px solid hsl(0, 0%, 94%);
  border-radius: 10px;
  background-color: none;
  color: hsl(0, 0%, 8%);
  transition: 0.15s;
  outline: none;
}

input::placeholder {
  color: hsl(0, 1%, 44%);
  padding: 10px;
}

input:active,
input:focus {
  border: 2px solid hsl(259, 100%, 65%);
  cursor: pointer;
}

.heading {
  font-size: calc(50px + (80 - 50) * ((100vw - 375px) / (1440 - 375)));
}

.resultContainer {
  height: fit-content;
  width: fit-content;
  font-weight: 700;
  font-style: italic;
  line-height: 0.125em;
  color: hsl(0, 0%, 8%);
  background-color: none;
  margin-top: 0;
  margin-bottom: .25em;
}

.result {
  color: hsl(259, 100%, 65%);
}

.errorContainer,
.errorForm,
.errorInvalid,
.errorEmpty {
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  display: none;
  margin-top: .5em;
  margin-bottom: 0;
}

.submitBtn {
  background-color: hsl(259, 100%, 65%);
  border-radius: 100%;
  border: none;
  padding: 20px;
  transition: 0.15s;
  position: absolute;
  right: 0;
  bottom: -25%;
  height: auto;
  width: 35px;
}

.result {
  margin-right: 5px;
}

.submitBtn:active {
  background-color: hsl(0, 0%, 8%);
}


.show {
  display: inline-block;
}

@media screen and (max-width: 500px){
  .inputsContainer{
    justify-content: center;
    padding-bottom: 15px;
  }

  .resultContainer {
    padding-top: 30px;
  }

  .inputContainer {
    flex: 1 1 33%;
  }

  .submitBtn{
    right: auto;
    width: 25px;
  }
  
}